/*----------------
    GENERAL
----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-size: 30px;
}

body {
  font-family: 'Roboto Slab', serif;
  /* font-size: 18px; */
  color: white;
  background-color: lightsteelblue;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  padding: 10px 20px 5px 20px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  padding: 5px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}


/*----------------
    CAROUSEL
----------------*/

.carousel {
  height: calc(70vh);
  display: flex;
}

/* ------ IMAGES ------- */

.carousel-image {
  height: 100%; 
  width: calc(16/9 * 70vh);
  background-color: black;
}

.carousel-image .item {
  height: 100%;
  width: 100%;  
  position: relative;
}

/* Immagini */

.carousel-image .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Testo */

.carousel-image .item .text {
  /* position */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* inner */
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  overflow-x: scroll;
}


/* ------ SCROLL ------- */

.carousel-scroll  {
  width: calc(6/9 * 70vh);
  height: 100%;
  position: relative;
  background-color: black;
}

/* Thumbs */

.carousel-thumb {
  height: 100%;
  width: 100%;
}

.carousel-thumb .mini-item { 
  display: block;
  height: calc(100% * 1/6);
  width: 100%;
  opacity: 0.2;
  border: 1px solid white;
}

/* Arrows */

.carousel-button .arrow-btn {
  /* position */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* outer  */
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  /* inner */
  font-size: 15px;
  line-height: var(--button-size);
  text-align: center;
  cursor: pointer;
}

.carousel-button .arrow-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.carousel-button .arrow-btn.up {
  top: 10px;
}

.carousel-button .arrow-btn.down {
  bottom: 10px;
}

/*----------------
    UTILITIES
----------------*/

.hide {
  display: none;
}

.active {
  height: calc(100% * 2/6) !important;
  opacity: 1 !important; 
}